{% extends 'admin_layout.html' %}
{% block body %}

	<div class='col-md-8 mt-5'>
		<h2 class='mt-3' style='color:#8338ff;margin-left:450px;'>Staff details</h2>
		<div>
			<table class='table table-bordered mt-4 a3' style='margin-left:120px;'>
				<thead>
					<tr>
						<th style='background-color:#8338ff; color:white;'>Sno</th>
						<th style='background-color:#8338ff; color:white;'>Profile</th>
						<th style='background-color:#8338ff; color:white;'>Staff name</th>
						<th style='background-color:#8338ff; color:white;'>Department</th>
						<th style='background-color:#8338ff; color:white;'>Email</th>
						<th style='background-color:#8338ff; color:white;'>Phone</th>
						<th style='background-color:#8338ff; color:white;'>Action</th>
					</tr>
				</thead>
				<tbody>
					{% for row in datas %}
						<tr>
							<td>{{loop.index}}</td>
							<td><img src='{{url_for("static",filename="images/"+row.simage)}}'style='width:120px;'></td>
							<td>{{row.sname}}</td>
							<td>{{row.dept}}</td>
							<td>{{row.semail}}</td>
							<td>{{row.sphone}}</td>
							<td><a href='{{url_for("delete_staff",sid=row.sid)}}' class='btn btn-md b1 mt-2'  onclick='return confirm("Are you sure")'>Delete</a></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			
	</div>
	
{% endblock %}