{% extends 'admin_layout.html' %}
{% block body %}
	<div class='col-md-10'>		
		<h1 style='color:#8338ff; margin-left:400px;margin-top:40px;'><i class="fa fa-files-o" aria-hidden="true"></i> Dashboard details</h1>
	<div class='row'>
		<div class='card mt-5 text-center' style='color:#8338ff;width:300px;margin-left:150px;padding:5px;box-shadow:2px 2px 10px 2px #8338ff;'>
			<h3 class=' mt-4'>Add department</h3>
			<i class="fa fa-book mt-2 " aria-hidden="true" style='font-size:40px;'></i>
			<p class='mt-3 ' style='font-size:25px;'><a href='/admin_department'  style='color:#8338ff; text-decoration:none;'>View Details</a></p>
		</div>
		<div class='card mt-5 text-center' style='color:#8338ff;width:300px;margin-left:30px;padding:5px;box-shadow:2px 2px 10px 2px #8338ff;'>
			<h3 class=' mt-4'>View department</h3>
			<i class="fa fa-book mt-2 "  style='font-size:40px;'aria-hidden="true"></i>
			<p class='mt-3 ' style='font-size:25px;'><a href='/admin_viewdepartment'  style='color:#8338ff; text-decoration:none;'>View Details</a></p>
		</div>
		<div class='card mt-5 text-center' style='color:#8338ff;width:300px;margin-left:30px;padding:5px;box-shadow:2px 2px 10px 2px #8338ff;'>
			<h3 class=' mt-4'>Add Staff</h3>
			<i class="fa fa-book mt-2 "  style='font-size:40px;'aria-hidden="true"></i>
			<p class='mt-3 ' style='font-size:25px;'><a href='/admin_staff'  style='color:#8338ff; text-decoration:none;'>View Details</a></p>
		</div>
		<div class='card mt-5 text-center' style='color:#8338ff;width:300px;margin-left:150px;padding:5px;box-shadow:2px 2px 10px 2px #8338ff;'>
			<h3 class=' mt-4'>View Staff</h3>
			<i class="fa fa-book mt-2 "  style='font-size:40px;'aria-hidden="true"></i>
			<p class='mt-3 ' style='font-size:25px;'><a href='/admin_viewstaff'  style='color:#8338ff; text-decoration:none;'>View Details</a></p>
		</div>
		<div class='card mt-5 text-center' style='color:#8338ff;width:300px;margin-left:30px;padding:5px;box-shadow:2px 2px 10px 2px #8338ff;'>
			<h3 class=' mt-4'>View Student</h3>
			<i class="fa fa-book mt-2 "  style='font-size:40px;'aria-hidden="true"></i>
			<p class='mt-3 ' style='font-size:25px;'><a href='/admin_viewstudent'  style='color:#8338ff; text-decoration:none;'>View Details</a></p>
		</div>
		<div class='card mt-5 text-center' style='color:#8338ff;width:300px;margin-left:30px;padding:5px;box-shadow:2px 2px 10px 2px #8338ff;'>
			<h3 class=' mt-4'>View Materials</h3>
			<i class="fa fa-book mt-2 "  style='font-size:40px;'aria-hidden="true"></i>
			<p class='mt-3 ' style='font-size:25px;'><a href='/admin_viewmaterials'  style='color:#8338ff; text-decoration:none;'>View Details</a></p>
		</div>
	</div>
	</div>
{% endblock %}